body {
	font-family: 'Khula', sans-serif;
}

.row {
	margin-top: 60px;
}

.table {
	width: 300px;
	height: 300px;
	text-align: center;
	margin: auto;
}

.display {
	width: 300px;
	border: 1px solid;
	height: 40px;
	font-size: 18px;
	letter-spacing: 0.2em;
	padding: 9px;
	margin: auto;
	margin-bottom: 15px;
}

.buttons {
	width: 75px;
	height: 60px;
	padding: 5px;
	font-size: 18px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	border-top: none;
}

.call {
	border-radius: 50%;
	padding: 10px;
	height: 63px;
    width: 65px;
    font-size: 30px;
    line-height: 51px;
}

.display button {
	float: right;
    padding: 0;
    background: none;
    border: none;
}